html {
  background: url(../img/flower2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.beige {
	background: #F5F5DC;
}
