html {
  background: url(../img/flower2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.beige {
	background: #fdfdec;
}

.hundred {
  height: 88vh;
}

.seventyfive {
  height: 65vh;
}

.twentyfive {
  height: 20vh;
}

.nav {
  margin-bottom: 25px;
}
